<ion-view title="Profile" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list7">
      <ion-item class="item-avatar balanced" id="profile-list-item18">
        <img src="img/iCuxc3g3SpiBauGQy7Sw_media-share-0-02-05-723e6c89d28b95b51fdebfe3833868cbd068914437b25a82b050b2a43b17dfa7-162a9f83-2108-4322-af3e-15fd55a2f2f6.jpg">
        <h2balanced>Ho Minh</h2balanced>
      </ion-item>
      <label class="item item-input" id="profile-textarea1" name="caption">
        <span class="input-label">This is my details and bio</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <div>
      <img src="img/rr66xWJMSHi3MLkWbJYb_media-share-0-02-08-50360930907ae5167f0f2ba0383e9c177dca3c77d0a4aa1bd1febf807fab5445-0f74b3ed-266e-4c69-bc85-fe5c8248a321.jpg" style="display:block;width:25%;height:25%;">
    </div>
    <div>
      <img src="img/rr66xWJMSHi3MLkWbJYb_media-share-0-02-08-50360930907ae5167f0f2ba0383e9c177dca3c77d0a4aa1bd1febf807fab5445-0f74b3ed-266e-4c69-bc85-fe5c8248a321.jpg" style="display:block;width:25%;height:25%;">
    </div>
    <div>
      <img src="img/rr66xWJMSHi3MLkWbJYb_media-share-0-02-08-50360930907ae5167f0f2ba0383e9c177dca3c77d0a4aa1bd1febf807fab5445-0f74b3ed-266e-4c69-bc85-fe5c8248a321.jpg" style="display:block;width:25%;height:25%;">
    </div>
    <div>
      <img src="img/rr66xWJMSHi3MLkWbJYb_media-share-0-02-08-50360930907ae5167f0f2ba0383e9c177dca3c77d0a4aa1bd1febf807fab5445-0f74b3ed-266e-4c69-bc85-fe5c8248a321.jpg" style="display:block;width:25%;height:25%;">
    </div>
  </ion-content>
</ion-view>